<mat-sidenav-container class="sidenav-container">
    <!-- SIDE NAV -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true">
      <mat-toolbar></mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" [routerLink]="['/add']">
          <mat-icon>add</mat-icon>&nbsp; Add Queue
        </a>
        <a  mat-list-item routerLinkActive="active" [routerLink]="['/queues']">
          <mat-icon>dashboard</mat-icon>&nbsp; Queues
        </a>
        <a mat-list-item routerLinkActive="active" [routerLink]="['/today']">
          <mat-icon>today</mat-icon>&nbsp; Today Queues
        </a>
        <a  mat-list-item routerLinkActive="active" [routerLink]="['/failed']">
          <mat-icon>error</mat-icon>&nbsp; Failed Queues
        </a>
        <a  mat-list-item routerLinkActive="active" [routerLink]="['/finished']">
          <mat-icon>done</mat-icon>&nbsp; Finished Queues
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <!-- CONTENT -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>swap_horiz</mat-icon>
        </button>
        <span class="example-spacer"></span>
      </mat-toolbar>
      <!-- OUTLET -->
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
